.background-image {
  height: 100vh;
}

.background-image-cute {
  background: url("./assets/bg.gif") repeat fixed;
  background-size: 20%;
}

.main-container {
  height: calc(100% - 56px - 57px);
}

.bg-white {
  background-color: white;
}

.bg-cute {
  background-color: pink;
}

.logo-text {
  font-size: 70px;
}
