* {
    box-sizing: border-box;
}
body, html {
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
    color: white;
}

#bg {
    /* The image used */
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }